*{
	box-sizing: border-box;
}

h1{
	text-align: center;
	font-family: Helvetica, sans-serif;
}

section{
	float: left;
	border: 1px solid black;
	background-color: #A4A4A4;
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#s1{
	border:1px solid black;
	background-color: #F5A9A9;
	position: absolute;
	top: 0px;
	right:0px;
	width:100px;
	text-align: center;
	font-size:24px;
	font-family: Helvetica, sans-serif;
}
#s2{
	border:1px solid black;
	background-color: #DF013A;
	position: absolute;
	top: 0px;
	right:0px;
	color: white;
	width:100px;
	text-align: center;
	font-size:24px;
	font-family: Helvetica, sans-serif;
}
#s3{
	border:1px solid black;
	background-color: #F5DA81;
	position: absolute;
	top: 0px;
	right:0px;
	width:100px;
	text-align: center;
	font-size:24px;
	font-family: Helvetica, sans-serif;
}

.text{
	position:relative;
	padding-top:20px;
	padding-left: 10px;
	padding-right: 10px; 
	color: black;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}


/*********** Desktop **********/
@media (min-width: 992px) {
	.lg4{
		float: left;
		border: 1px solid black;
		width: 30%;
	}
}
/*********** Tablet  **********/
@media (min-width: 768px) and (max-width: 991px) {
	.md6{
		float: left;
		border: 1px solid black;
		width: 45%;
	}
	.md12{
		float: left;
		border: 1px solid black;
		width: 94%;
	}
}
/*********** Mobile  **********/

